#trace-display{
    margin-left: 50px;
}

.line_number {
    display: inline-block;
    width: 3em;
    text-align: end;
}

.line_numbers {
    display: flex;
    flex-direction: column;
}

.line {
    display: block;
}

.trace_item {
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
}



.code {
    display: flex;
    flex-direction: row;

}

.indentation {
    display: inline;
    background-color: white;
}

.expression {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #CAC7C7;
    border-radius: 3px;
}

.result {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    background-color: #FF0000;
    border-radius: 3px;
}

.write {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    background-color: #00A79F;
    border-radius: 3px;
}

.inspector {
    float: right;
}

.button {
    text-shadow: #FC0 1px 0 10px;
}